body{
    background-image: url("img/bcg2.jpg");
    background-repeat: no-repeat, no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color:lightgray;
    font-size: 20px;
   
}

h1{
    text-transform: uppercase;
    padding: 1em 0;
    color: whitesmoke;
    font-family: 'Averia Sans Libre', cursive;
    font-weight: bold;
}

hr{
    border:1px solid white;
}

h5{
    color: white-smoke;
    font-family: 'Averia Sans Libre', cursive;
}

h3{
    font-family: 'Averia Sans Libre', cursive;
    color:lightblue;
}
#submit{
    background-color:red;
    border: none;

}

#modalDisplay{
    background-color:whitesmoke;
}

#friendPhoto{
    width:100%;
}

.main-row{
    height: 90vh;
}

.textbox{
    width:auto;
    border:1px solid white;
    padding:2em;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
}


.linksRepos a{
    color:lightblue;
    text-decoration: none;
}

.linksRepos a:hover{
    color:cyan;
    transition:5ms ease-in;
}

#goSurvey,
#submit{
    background-color: transparent;
    padding-top:15px;
    border: 2px solid white;
    text-transform: uppercase;

}

#goSurvey:hover,
#submit:hover{
    background-color: white;
    color:black;
    transition: 500ms ease-in-out;
}

input[type="text"]{
    background-color: transparent;
    border:none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color:lightblue;
}

input[type="text"]:focus{
    background-color:rgba(0,0,0,0.5);
    border:none;
    border-bottom: 1px solid lightblue;
    box-shadow: none;
    border-radius: 0;
    color:white;
}

select{
    background-color: rgba(58,63,88,0.5) !important;
    color:white!important;
    border:0.5px solid lightblue!important;
    border-radius: 0!important;
}

.surveyHeader{
    border:1px solid white;
    margin: 30px 0;
    padding:20px;
    background-color: rgba(0,0,0,0.5);
}